@using codefirst_deneme.ViewModels;
@model List<DonanimMarkaListeViewModel>;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@




<div class="row">
    <div class="col-3">
        <a class="btn btn-success" href="#" id="yeniMarka_btn">Yeni Ekle</a>
        <a style="display: none;" class="btn btn-success" href="#" id="vazgecMarka_btn">Vazgeç </a>
        <a style="display: none;" class="btn btn-success" href="#" id="kaydetMarka_btn">Kaydet</a>
    </div>

@*    <div class="col-9"></div>
*@    <div class="form-outline col-3">
        <label class="form-label" >Ad</label>
        <input type="text" name="Ad" id="ad" class="form-control" />
        <input type="hidden" name="Id" id ="id" value="0"/>
    </div>

    <div class="col-3"></div>
</div>
<br />
<br />
<br />
<br />
<div class="row">
    <table class="table table-striped" id="donanimMarkaTablo">
        <thead>
            <tr><th>İşlem</th><th>Marka Adı</th>
        </thead>
        <tbody>
            @foreach (var marka in Model)
            {
                <tr>
                    <td>
                        <a class="btn btn-primary markaGuncelle" data-id="@marka.Id" data-ad="@marka.Ad">Güncelle</a>
                    </td>
                    <td>@marka.Ad</td>

                </tr>
            }
        </tbody>
    </table>
</div>